<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title > Calcolatrice  </ion-title>

  </ion-toolbar>

</ion-header>
<ion-content>
  <div id="container">
    <strong class="capitalize">{{ home }}</strong>
     <p> blocco calcolatrice</p>
    <!--   {{item.typeName}} -->
  </div>
</ion-content>

<ion-app>
  Calcolatrice
  <ion-split-pane contentId="main-content">
    <ion-menu contentId="main-content" type="overlay">
      <ion-content>
        <ion-list id="inbox-list">
          <ion-list-header>Calcolatrice</ion-list-header>
          <ion-note>selezionare la modalità</ion-note>
          <br>

          <ion-menu-toggle auto-hide="false" *ngFor="let item of dataCalcList"  [ngClass]="{disabled: item.isOn === false}">

            <!-- <div [ngIf]="class: item.active === false ? then 'disabled':'active' "> -->
              <!-- <li *ngClass="{active: item.isOn ==='true'}">  </li>
              <li *ngClass="{disabled: item.isOn ==='false'}"> </li> -->

<!-- ios ri riferisce ovviamente al sistema operativo  -->
            <ion-item routerDirection="root" [routerLink]="[item.url]"  lines="none" detail="false" routerLinkActive="selected" >
              <ion-icon slot="start" [ios]="item.icon + '-outline'" [md]="item.icon + '-sharp'" ></ion-icon>
              <!-- (click)='getCalculator()'' -->
              <ion-label > {{item.typeName}} </ion-label>
            </ion-item>
          <!-- </div> -->
          </ion-menu-toggle>

        </ion-list>
      </ion-content>
    </ion-menu>
  <ion-router-outlet id="main-content">
  </ion-router-outlet>
</ion-split-pane>
</ion-app>
